/*
 * Dossier styling
 */
 
.node-type-dossier #main {
  padding-bottom: 40px;
}

.node-type-dossier .field-name-field-referenced-content {
  position: relative;
  width: 1440px;
  height: 480px;
  left: -490px;
}

.dossier-element {
  background: #8B8783;
}

.dossier-element h2,
.dossier-element h2 a {
  font-family: 'BebasNeue';
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.dossier-element-text p {
  margin: 0 0 10px 0;
}

.dossier-element span.date-display-single {
  color: #fff;
}

.node-agenda-view-mode-dossier,
.dossier-element-text-inner {
  padding: 10px;
}

.dossier-element-media h2.node-title {
  display: none;
}

/* collapsible content */

.node-type-dossier h1#page-title.closed {
  padding-bottom: 10px;
  background: transparent url('../images/arrow_collapse_down.png') center bottom no-repeat;
  cursor: pointer;
}

.node-type-dossier h1#page-title.open {
  padding-bottom: 10px;
  background: transparent url('../images/arrow_collapse_up.png') center bottom no-repeat;
  cursor: pointer;
}

.node-type-dossier #content {
  margin-left: 140px;
}

.node-type-dossier #collapse-content .field-name-body {
  position: absolute;
  background-color: #8A8783;
  color: #FFFFFF;
  float: left;
  font-size: 11px;
  line-height: 15px;
  margin: 0;
  padding: 10px 20px 20px !important;
  width: 440px !important;
  z-index: 1000;
}