#page #header #block-nice-menus-1 .content ul ul li.first {
  margin-top: 20px;
  padding-top: 5px;
}

#page #header #block-nice-menus-1 .content ul ul {
  width: 189px;
 background: url('../images/dropdownIE.png') no-repeat center 0 transparent;
}

#page #header #block-nice-menus-1 .content ul ul li {
 padding: 0;
 margin: 0;
 display: block;
 width: 189px;
 background: transparent url('../images/bg_subnav.png') left bottom no-repeat;
}

#page #header #block-nice-menus-1 .content ul ul li.last {
  background-image: url('../images/bg_subnav_bot.png');
  margin-bottom: 0;
  padding-bottom: 17px;
}
#page #header #block-nice-menus-1 .content ul ul li a {
  padding: 0 15px;
}

#page #header #block-nice-menus-1 .content ul ul ul{
  width: 189px;
  background: none;
  top: -25px;
}

#header .block-nice-menus .content ul ul li a:hover {
  margin: 0 0px;
}

#page-wrapper #page #header .block-nice-menus ul ul li.menuparent {
  background: url("../images/bg_subnav_parent.png") no-repeat top left transparent;
}

#page-wrapper  #page #header .block-nice-menus .content ul ul li.menuparent a:hover {
  background: url("../images/bg_subnav_parent_hover.png") no-repeat top left transparent;
}

#page-wrapper  #page #header .block-nice-menus .content ul ul li a:hover {
  background: url("../images/bg_subnav_hover.png") no-repeat top left transparent;
}


#header .block-nice-menus .content ul ul {
  background: none;
  -moz-box-shadow: none
  -webkit-box-shadow: none;
  box-shadow: none;
}

