/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
#header #block-menu-block-1 {
  margin: 0;
  float: left;
}

#header #block-menu-block-1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

#header #block-menu-block-1 ul {
  margin-top: 16px;
}

#header #block-menu-block-1 ul li {
  display: inline;
  list-style: none;
  list-style-image: none;
  font-family: 'BebasNeue';
  text-transform: uppercase;
  font-size: 36px;
  margin-right: 22px;
}

#header #block-menu-block-1 ul li a {
  color: #C7C2BA;
  text-decoration: none;
}

#header #block-menu-block-1 ul li a:hover,
#header #block-menu-block-1 ul li a.active-trail {
  color: #fff;
}

#header #block-menu-block-3 {
  float: right;
  margin: 0;
  line-height: 10px;
}

#header #block-menu-block-3 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

#header #block-menu-block-3 ul li {
  display: inline;
  list-style: none;
  list-style-image: none;
}

#header #block-menu-block-3 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}

.region-sidebar-first .block-menu-block {
  margin-top: 8px;
}

.region-sidebar-first .block-menu-block ul {
  margin: 7px 0 0 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

.region-sidebar-first .block-menu-block ul  li {
  list-style: none;
  list-style-image: none;
  margin: 0 0 7px 0;
}

.region-sidebar-first .block-menu-block ul  li a {
  color: #4A4A4A;
  text-decoration: none;
  padding: 0 0 0 10px;
  display: block;
  line-height: 16px;
}

.region-sidebar-first .block-menu-block ul  li a.active {
  font-weight: bold;
  background: transparent url('../images/arrow_right.png') left 4px no-repeat!important;
}

.region-sidebar-first .block-menu-block ul  li  ul {
  display: none;
}

.region-sidebar-first .block-menu-block ul  li.active ul,
.region-sidebar-first .block-menu-block ul  li.expanded ul {
  display: block;
}

.region-sidebar-first .block-menu-block ul  li  ul li {
  margin-left: 10px;
}

.region-sidebar-first .block-menu-block ul  li.expanded a.active-trail {
  font-weight: bold;
  background: transparent url('../images/arrow_down.png') left 5px no-repeat;
}
