/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
#header #block-nice-menus-1 {
  margin: 0;
  float: left;
}

#header #block-nice-menus-1 .content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  border: 0;
}

/*#header #block-nice-menus-1 .content ul {
  margin-top: 16px;
}*/

#header #block-nice-menus-1 .content ul li {
  display: inline;
  list-style: none;
  list-style-image: none;
  font-family: 'BebasNeue';
  text-transform: uppercase;
  font-size: 36px;
  margin-right: 22px;
  background: none;
  border: 0;
}

#header #block-nice-menus-1 .content ul li a {
  color: #C7C2BA;
  text-decoration: none;
  padding: 0;
}

#header #block-nice-menus-1 .content ul li a:hover,
#header #block-nice-menus-1 .content ul li a.active-trail {
  color: #fff;
}

/* dropdown */
#header #block-nice-menus-1 .content ul ul {
  background: url('../images/dropdown.png') no-repeat 0 0 #FFF;
  top: 56px;
  width: 179px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.35);
  zoom: 1;
  filter:
    progid:DXImageTransform.Microsoft.Shadow(color='#a6a6a6', Direction=90, Strength=10)
    progid:DXImageTransform.Microsoft.Shadow(color='#a6a6a6', Direction=270, Strength=10);  
}

#header #block-nice-menus-1 .content ul ul li {
  background: white;
  margin-top: 20px;
  font-size: 12px;
  line-height: 20px;
  width: 179px;
  font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
}

#header #block-nice-menus-1 .content ul ul li a,
#header #block-nice-menus-1 .content ul ul li a:hover {
  color: #4A4A4A;
}

/* Aligning the drop down menu for each parent item until there's a script to calculate the center */

#header #block-nice-menus-1 .menu-680 ul {
  left: -41px;
}

#header #block-nice-menus-1 .menu-685 ul {
  left: -45px;
}

#header #block-nice-menus-1 .menu-419 ul {
  left: -60px;
}

#header #block-nice-menus-1 .menu-420 ul {
  left: -55px;
}

#header #block-menu-block-3 {
  float: right;
  margin: 0;
  line-height: 10px;
}

#header #block-menu-block-3 .content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

#header #block-menu-block-3 .content ul li {
  display: inline;
  list-style: none;
  list-style-image: none;
  margin: 0 0 0 8px;
}

#header #block-menu-block-3 .content ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}

.region-sidebar-first .block-bg-blog-nav,
.region-sidebar-first .block-menu-block {
  margin-top: 2px;
}

.region-sidebar-first .block-bg-blog-nav .content ul,
.region-sidebar-first .block-menu-block .content ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

.region-sidebar-first .block-bg-blog-nav .content ul li,
.region-sidebar-first .block-menu-block .content ul  li {
  list-style: none;
  list-style-image: none;
  margin: 0 0 7px 0;
}

.region-sidebar-first .block-bg-blog-nav .content ul li a,
.region-sidebar-first .block-menu-block .content ul  li a {
  color: #4A4A4A;
  text-decoration: none;
  padding: 0 0 0 10px;
  display: block;
  line-height: 16px;
}

.region-sidebar-first .block-bg-blog-nav .content ul li a.active,
.region-sidebar-first .block-menu-block .content ul  li a.active {
  font-weight: bold;
  background: transparent url('../images/arrow_right.png') left 4px no-repeat!important;
}

.region-sidebar-first .block-bg-blog-nav .content ul li ul,
.region-sidebar-first .block-menu-block .content ul  li  ul {
  display: none;
}

.region-sidebar-first .block-bg-blog-nav .content ul  li.active ul,
.region-sidebar-first .block-bg-blog-nav .content ul  li.expanded ul,
.region-sidebar-first .block-menu-block .content ul  li.active ul,
.region-sidebar-first .block-menu-block .content ul  li.expanded ul {
  display: block;
}

.region-sidebar-first .block-bg-blog-nav .content ul  li  ul li,
.region-sidebar-first .block-menu-block .content ul  li  ul li {
  margin-left: 10px;
}

.region-sidebar-first .block-bg-blog-nav .content ul  li.active a,
.region-sidebar-first .block-menu-block .content ul  li.expanded a.active-trail {
  font-weight: bold;
  background: transparent url('../images/arrow_down.png') left 5px no-repeat;
}

.region-sidebar-first .block-bg-blog-nav .content ul  li.active li a {
  font-weight: normal;
  background-image: none;
}
