/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  background-color: #e00034;
  text-rendering: optimizeLegibility;
}

body.page-node-embed {
  background-color: #4a4a4a;
}

#page-wrapper {
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  background-color: #f8f6f5;
}


body.front #main-wrapper ,
body.page-search #main-wrapper,
body.node-type-media #main-wrapper,
body.node-type-dossier #main-wrapper {
  background-color: #4A4A4A;
  color: #fff;
}

body#tinymce {
  background-color: #f8f6f5;
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

.region-highlighted {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb-wrapper {
  min-height: 20px;
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
  font-size: 10px;
  color: #a4a4a4;
  margin: 0 0 10px 0;
}

.breadcrumb a {
  text-decoration: none;
  color: #a4a4a4;
  padding: 0 5px;
}

.breadcrumb a:hover,
.breadcrumb a:active {
  color: #4a4a4a;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

#page-title {
  font-family: 'BebasNeue';
  font-size: 48px;
  line-height: 40px;
  overflow: hidden;
  color: #C7C2BA;
  text-align: center;
  text-transform: uppercase;
  padding-top: 2px; /* Add padding-top to prevent characters from being cut off at the top.*/
  margin: -2px 0 10px 0; /* Negative top margin to compensate for the padding-top. */
}

.node-type-blog h2#page-title {
  font-family: 'BebasNeue';
  font-size: 44px;
  line-height: 50px;
  color: #C7C2BA;
  text-align: center;
}

.front h1.title {
  display: none;
}

h2.title {
  font-size: 14px;
  font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
  font-weight: bold;
}

h1.node-title,
.node-article span.heading {
  font-family: 'BebasNeue';
  text-transform: uppercase;
}

.node-article span.heading {
  font-size: 25px;
}

h1.node-title {
  font-size: 36px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
}

.page-blogs h2.node-title,
h2.node-title {
  font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
  font-size: 13px;
}

h1.node-title a,
h2.node-title a {
  text-decoration: none;
  color: #4A4A4A;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

.front ul.links.inline {
  display: none;
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.item-list .pager li a {
  color: #C7C2BA;
  text-decoration: none;
}

.item-list .pager li a:hover {
  color: #4A4A4A;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Page Taxonomie (list) Page Blog (list)
 */

 span.date-display-single,
.page-taxonomy .submitted {
  color: #a5a5a5;
  font-size: 13px;
}

.page-blogs .node-teaser,
.page-blogs .node-blog,
.page-taxonomy .node-teaser,
.page-taxonomy .node-blog {
  margin: 0 0 1.5em 0;
}

.page-blogs  ul.links,
.page-taxonomy  ul.links {
  margin: 0 0 1.0em 0;
   color: #A5A5A5;
}

.page-blogs p,
.page-taxonomy p {
  margin: 0;
}

/**
 * media page
 */

.node-type-media .content .content {
  padding: 0;
}

.node-type-media #comments {
  margin: 0;
  float: left;
}

.node-type-media .field-group-format .field-group-format-toggler,
.node-type-media #comments h2.title {
  height: 28px;
  width: 480px;
  padding: 2px 0 0 0;
  background: #6f6e6b url('../images/bg_sprite_toggle_header.jpg') left top repeat-x;
  margin: 0;
  float: left;
  cursor: pointer;
  text-align: center;
}

.node-type-media .field-group-format .field-group-format-toggler a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  display: block;
}

.node-type-media .field-group-format.collapsed .field-group-format-toggler,
.node-type-media #comments h2.title.closed {
  background-position: left -30px;
}

.node-type-media .field-group-format-wrapper,
.node-type-media #comments .comment,
.node-type-media #comments  #comment-form {
  padding: 10px 20px 20px 20px!important;
  background-color: #8a8783;
  color: #fff;
  margin: 0;
  float: left;
  width: 440px!important;
  font-size: 11px;
  line-height: 15px;
}

.node-type-media span.date-display-single,
.node-type-media .page-taxonomy .submitted {
    color: #fff;
    font-size: 11px;
}

.node-type-media .field-group-format-wrapper a {
  color: #fff;
}

.node-type-media .field-name-field-media-description {
  font-size: 11px;
  line-height: 15px;
}

.node-type-media #comments .comment h3.comment-title {
  margin: 0.5em 0 0 0;
  font-size: 1.0em;
}

.node-type-media #comments .comment h3.comment-title a {
  color :#fff;
}

.node-type-media #comments .comment .submitted {
  color: #c7c2ba;
  margin: 0.5em 0 0 0;
}

.node-type-media #comments .comment .submitted a {
  color: #fff;
}

.node-type-media #comments .comment p {
  margin-top: 0.5em;
}

.node-type-media #comment-form a,
.node-type-media #comments .comment ul.links a {
  color: #fff;
}

.node-type-media .field-label {
  display: inline-block;
  width: 100px;
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}

/*
 * Content bottom
 */
.region-content-bottom {
  background-color: #F8F6F5;
  color: #898682; /* average of #C7C2BA and #4A4A4A */
}

.region-content-bottom .block {
  margin: 0 auto;
  overflow: hidden;
  padding: 16px 20px 16px 240px;
  width: 460px;
}

#block-bg-blocks-seo-content h1.title {
  font-size: 12px;
  margin: 0 0 6px 0;
}

#block-bg-blocks-seo-content p {
  margin: 6px 0 0 0;
}

#block-system-main #search-form {
  height: 30px;
}

#block-system-main #search-form label {
  display: none;
}

#block-system-main #search-form #edit-keys {
  width: 330px;
  height: 30px;
  font-size: 16px;
}

#block-system-main #search-form #edit-submit {
}