@CHARSET "UTF-8";
body.page-search #content {
  margin-right: -720px;
  width: 720px;
  clear: both;
}

body.page-search #page-title {
  float: left;
  width: 565px;
  text-align: left;
}

.search-results {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.search-result {
  float: left;
  overflow: hidden;
}

.search-result img {
  position: absolute;
  z-index: 50;
}

.search-result .info-box {
  position: absolute;
  overflow: hidden;
  z-index: 51;
  background: url("../images/blue-60.png") repeat scroll 0 0 transparent;
}

.page-search-site .search-result .info-box .info {
  margin: 10px;
}

.page-search-site .search-result-grid-3x3,
.page-search-site .search-result-grid-3x3 .info-box {
  width: 360px;
  height: 240px;
}

.page-search-site .search-result-grid-2x2,
.page-search-site .search-result-grid-2x2 .info-box {
  width: 240px;
  height: 160px;
}

.page-search-site .search-result-grid-1_5x1_5,
.page-search-site .search-result-grid-1_5x1_5 .info-box {
  width: 180px;
  height: 120px;
}

#search-info {
  float: left;
  width: 155px
}

#search-info p {
  margin: 0;
}

#search-info p.search-info-top {
  font-size: 1.3em;
}


.page-search-list-site .search-result {
  float: none;
  overflow: visible;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.page-search-list-site .search-result .info-box {
  position: static;
  overflow: visible;
  background: none;
}
.page-search-list-site #content {
  padding: 10px;
  background-color: #f8f6f5;
  color: #000000;
}
.page-search-list-site #content a {
  color: #000000;
}
