.section-tags .search-result .info-box .info {
  margin: 10px;
}

.section-tags .search-result-grid-3x3,
.section-tags .search-result-grid-3x3 .info-box {
  width: 360px;
  height: 240px;
}

.section-tags .search-result-grid-2x2,
.section-tags .search-result-grid-2x2 .info-box {
  width: 240px;
  height: 160px;
}

.section-tags .search-result-grid-1_5x1_5,
.section-tags .search-result-grid-1_5x1_5 .info-box {
  width: 180px;
  height: 120px;
}

