/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */


.with-wireframes #header .section,
.with-wireframes #content .section,
.with-wireframes #navigation .section,
.with-wireframes .region-sidebar-first .section,
.with-wireframes .region-sidebar-second .section,
.with-wireframes .region-footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
/*
body.node-type-dossier #main-wrapper {
    background-color: #4A4A4A;
    background-image: url('/sites/all/themes/beeldgeluid/images/bg-grid.gif');
    background-position: center top;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
*/