.item-list ul.xml-feed-items {
  list-style-type: none;
  font-weight: bold;
  padding: 0;
}

.item-list ul.xml-feed-items > li {
  padding-left: 1em;
}

.item-list ul.xml-feed-items li ul li {
  cursor: help;
}

ul.xml-feed-items li ul{
  list-style-type: none;
  padding: 0;
}

ul.xml-feed-items li ul li ul li:first-child {
  font-weight: bold;
}

ul.xml-feed-items li ul li ul li {
  text-decoration: none;
  padding: 0.5em 1em;
}

ul.xml-feed-items li ul li {
  text-decoration: underline;
}

ul.xml-feed-items li ul li ul {
  display: none;
  list-style-type: none;
  padding: 0;
  position: fixed;
  left: 50px;
  z-index: 9;
  background: #4A4A4A;
  border: solid 1px #FFF;
  width: 400px;
}

.dossier-element-xml_feed_import {
  list-style-type: none;
}
