#gridui-frame {
  background: #ccc;
  border: 1px solid #ccc;
  float: left;
  height: 320px;
  margin: 0 0 0 35px;
  width: 750px;
}

.gridui-header {
  cursor: pointer;
}

#edit-field-referenced-content-nl-add-more {
  margin-left: 35px;
}

.dossiergrid-item {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  text-align: center;
}

#field-referenced-content-values fieldset,
#field-referenced-content-values--2 fieldset {
  display: none;
}

#field-referenced-content-values,
#field-referenced-content-values--2 {
  float: left;
  width: 400px
}
