#gridui-frame {
  background: #ccc;
  border: 1px solid #808080;
  height: 320px;
  width: 750px;
}

.dossiergrid-item {
  color: #fff;
  cursor: pointer;
  font-size: 48px;
  overflow: hidden;
  text-align: right;
}
