#gridui-frame {
  background-color: #ccc;
  background-image: url('/sites/all/modules/gridui/img/gridui-grid.gif');
  background-position: top center;
  background-repeat: repeat-y;
  border: 1px solid #ccc;
  float: left;
  height: 320px;
  margin: 28px 0 0 35px;
  width: 720px;
}

.gridui-header {
  cursor: pointer;
}

#edit-field-referenced-content-nl-add-more {
  margin: 1em 0 0 35px;
}

.dossiergrid-item {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  text-align: center;
}

.dossiergrid-item-inner {
  height: 100%;
}

.field-multiple-table fieldset {
  display: none;
}

.field-widget-bg-referencefield {
  float: left;
  width: 400px
}
